[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
missingno = "*"
xlrd = "*"
edward = "*"
tensorflow = "==1.7"
tables = "*"
networkx = "*"

[dev-packages]
"pytest-flake8" = "*"

[requires]
python_version = "3.6"
